@model FinalProject.ViewModels.LoginViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div style="text-align: center">
    
<div asp-validation-summary="All">
</div>
    <form action="Login" method="post">
        <div>
            <input type="text" placeholder="Login" asp-for="Login">
        </div>
        <div>
            <input type="password" placeholder="Password" asp-for="Password">
        </div>
        <div>
            <input type="hidden" asp-for="ReturnURL">
        </div>
        <div>
        <input type="submit" value="Вход">
        </div>
    </form>
</div>
