@model FinalProject.ViewModels.SignUpViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div asp-validation-summary="All">
</div>

<form action="Signup" method="post">
    <div>

    <input type="text" placeholder="Login" asp-for="Login">
        </div>
    <div>
    <input type="text" placeholder="Email" asp-for="Email">
    </div>
    <div>
    <input type="text" placeholder="Password" asp-for="Password">
    </div>
    <div>
    <input type="submit" value="Регистарция">
    </div>
</form>
